@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
}

body,
html {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  overflow-y: visible;
  overflow-x: hidden;
  scrollbar-width: none;
}

.wrapper {
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titulo {
  order: 1;
  text-align: center;
  margin: 2%;
  color: whitesmoke;
  font-size: 40px;
  font-weight: 1000;
  text-shadow: 10px 5px 10px rgb(100, 100, 100);
}

#tarefa {
  order: 2;
}
.postagem {
  text-align: center;
  display: flex;
  align-items: center;
}

#texto {
  width: calc(20rem - 1vh);
  height: 30%;
  padding: 7px;
  margin: 0.7rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: visible;
}

#texto:focus {
  outline: none;
}

#button {
  width: 4rem;
  height: 2rem;
  border: 0.5rem;
  border-radius: 9px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#button:hover {
  background-color: rgb(0, 0.2, 0, 0);
}

.postagem button:active {
  background-color: rgba(100, 100, 100, 100);
  color: white;
}

.lista {
  order: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.lista p {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 1000;
  text-shadow: 5px 5px 5px rgb(112, 112, 112);
}

hr {
  margin-top: 10px;
  width: 500px;
  height: 4px;
  background-color: whitesmoke;
  border: none;
  box-shadow: 5px 5px 8px rgb(105, 104, 104);
}

.lista-itens {
  order: 4;
  margin: 15px;
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.items {
  background-color: rgba(188, 188, 188, 0.326);
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 0 rgb(105, 104, 104);
  text-align: left;
}

.item-descricao {
  max-width: 90%;
  margin: 15px;
  padding: 0 1rem 0 1rem;
  text-decoration: none;
  border-left: 3px solid gray;
  inline-size: 82%;
  overflow-wrap: break-word;
}

.check {
  -webkit-appearance: none;
  appearance: none;
  color: gray;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid gray;
  border-radius: 0.5em;
  display: grid;
  place-content: center;
}

.check::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em gray;
  background-origin: canvasText;
}

.check:checked::before {
  transform: scale(1);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

@media screen and (max-width: 720px) {
  #titulo {
    font-size: 230%;
  }

  .postagem {
    flex-direction: column;
  }

  #texto {
    width: 90vw;
    margin-bottom: 1rem;
  }

  #button {
    padding: 10px;
  }

  hr {
    width: 90vw;
  }
  .lista {
    margin-top: 15px;
  }
  .lista-itens {
    max-width: 90vw;
  }
}

@media (max-width: 300px) {
  .item-descricao {
    inline-size: 60%;
  }
}
